/* @-webkit-keyframes headerCarouselZoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
   */

@keyframes headerCarouselZoom {
    from {
        transform: scale(1.5, 1.5);
    }

    to {
        transform: scale(1, 1);
    }
}

h1 {
    font-size: 20px;
    margin: 0px 0px 20px 30px;
}

.slider {
    height: 170px;
}

main {
    min-height: 390px;
    padding: 30px 20px 20px 50px;

}

.description {
    max-width: 580px;
    text-indent: 2em;
}

.image-container {
    width: 100%;
    height: 200px;
    float: left;
    margin-bottom: 10px;

}

.image-container img {
    width: 100%;
    height: 100%;
}






footer {
    background-color: rgba(0, 0, 0, 0.4);
    /* background: rgba(139, 28, 64, 1);*/
}

.weather {
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(139, 28, 64, 1);
    padding-top: 10px;

}

.weather p {
    text-align: center;
    font-family: nino-mtavruli;
    margin-bottom: 7px;
}

.weather a:hover>.weather-widget {
    text-decoration: none;
    transition: all 0.4s;
    display: block;
}

footer {
    padding-top: 20px;
}

footer img {
    height: 70px;
    margin-bottom: 20px;
}

.social-cirkle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
}

.social-icon {
    color: rgba(139, 28, 64, 1);
    padding: 16px;
    font-size: 20px;
}

.weather-widget {
    display: none;
}