/* @-webkit-keyframes headerCarouselZoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
   */
@keyframes headerCarouselZoom {
    from {
        transform: scale(1.5, 1.5);
    }

    to {
        transform: scale(1, 1);
    }
}

h3 {
    font-size: 16px;
    font-family: nino-mtavruli;
    margin: 10px 0px 5px 10px;
}


.slider img {
    width: 100%;
    max-height: 512px;
}


}

aside {
    float: left;
}


.filter {
    padding: 20px;

}

.filter h3 {
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.filter .btn {
    margin-top: 57px !important;
    width: 170px;
}

.filter i {
    margin-left: 5px;
}

.hidden {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.fa-2x {
    font-size: 2em;
    color: white;

}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover,
nav.main-menu .expanded {
    width: 215px;
    overflow: visible;

}

.main-menu {
    background: rgba(139, 28, 64, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 280px;
    left: 0;
    width: 60px;
    overflow: hidden;
    transition: width 0.5s linear;
    z-index: 1;
    padding-top: 10px;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    margin-top: 43px;
}

.main-menu li a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-family: nino mtavruli;
    font-size: 15px;
    text-decoration: none;
    transition: all 1s linear;
}

.main-menu li a:hover>.fa-2x {
    color: black;
    transition: all none;
}

.main-menu.nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: nino-mtavruli;

}




.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;

}

.main-menu ul .logout {
    position: absolute;
    bottom: 0;
    left: 0;


}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

.area nav {
    user-select: none;
}

.area nav ul,
nav li {
    outline: 0;
    padding: 0;
    margin: 0;
}

.main-menu li:hover a;
nav .main-menu li:active a;

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li .active a {
    color: aliceblue;
    background: yellow,
}

main {
    padding: 10px 30px 30px 30px;
}

main section article {
    width: 100%;
    height: 330px;
    float: left;
    margin-bottom: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .09);
    position: relative;

}

main section article:hover img {
    transform: scale(1.2);
}

.image-container {
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: 0.75s;

}





main section article i {
    color: orange;
    float: left;
    margin: 0px 10px 0px 10px;
}

main section article p {
    font-family: nino-mtavruli;
    font-size: 14px;


}

.hidden-aside {
    display: none;
}

.categories-icons {
    float: left;
    color: white;
    padding-top: 5px;
    padding-right: 10px;
}

button {
    margin-bottom: 10px;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    /* background: rgba(139, 28, 64, 1);*/
}

.weather {
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(139, 28, 64, 1);
    padding-top: 10px;

}

section>nav {
    margin: 0 auto;
}

.weather p {
    text-align: center;
    font-family: nino-mtavruli;
    margin-bottom: 7px;
}

.weather a:hover>.weather-widget {
    text-decoration: none;
    transition: all 0.4s;
    display: block;
}

footer {
    padding-top: 20px;
}

footer img {
    height: 70px;
    margin-bottom: 20px;
}

.social-cirkle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
}

.social-icon {
    color: rgba(139, 28, 64, 1);
    padding: 16px;
    font-size: 20px;
}

.weather-widget {
    display: none;
}

@media (max-width: 576px) {}


@media (max-width: 768px) {

    .hidden {
        display: block;
    }

    .filter {
        display: none;
    }

    .hidden .btn {
        margin-top: 20px;
    }

    .hidden button {
        width: 100%;
    }

    .hidden-aside {
        display: block;
        text-align: center;
    }

    .area {
        display: none;
    }

    article {
        height: 275px !important;
    }

    .image-container {
        height: 220px;
    }

    .slider img {
        width: 100%;
        max-height: 200px;
    }
}




}

@media (max-width: 992px) {}

@media (max-width: 1024px) {
    .slider img {
        width: 100%;
        max-height: 350px;
    }
}